<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Filter</title>
</head>
<body data-user-games="<%= user.games %>">

  <header>
    <%- include('../partials/header'); %>
</header>
<menu>

    <article class="filtersContainer">
    <div class="filters">
        <h2>Filter op genre:</h2>
        <div id="genreFilters"></div>
    
        <h2>Filter op platform:</h2>
        <div id="platformFilters"></div>
  </div>
  </article>
</menu>
<main>
  <a id="butInloggen" href="/login">Inloggen/account</a>

  <div id="games"></div>
  <script src="/gamesScript.js"></script>
  <!-- <script>
    const userGames = "<%= user.games %>"
    const userGamesArray = userGames.split(",")
    console.log(userGamesArray)
    function hearts() {
    setTimeout(() => {
    userGamesArray.forEach(gameID => {
      let gameDIV = document.getElementById(gameID)
      let hearts = gameDIV.querySelectorAll("form input.heart[type='image']");
      hearts.forEach(heartImg => {
        heartImg.src = "images/like_vol.png";
      });
    });
    }, 2000);
  }
  hearts()
  </script> -->

</main>

  <footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>