<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Profile</title>
</head>
<body data-user-games="<%= user.games %>">
<header>
    <%- include('../partials/header'); %>
</header>
<menu>
    <%- include('../partials/menu'); %>
</menu>
<main>
    <section id="profiel">
        <section id="userData">
            <div>
                <img alt="user profile picture" src="/uploads/<%= user.avatar %>">
            </div>
            <div>
                <p>
                voornaam = <%= user.voornaam %><br>
                email = <%= user.email %><br>
                avatar = <%= user.avatar %><br>
                id = <%= user.id %><br>
                games = <%= user.games %><br>
                </p>
            </div>
        </section>
        <section id="">
            <ul id="likedGames">

            </ul>

            <div id="overlay">
                <div id="overlayContent">
                    <button id="sluitOverlay">Sluiten</button>
                    <div id="overlayInfo"></div>
                </div>
            </div>
        </section>
        <section id="">
            
        </section>
    </section>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/darkLight.js"></script>
<script src="/profile.js"></script>
</body>
</html>