<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Profile</title>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<menu>
    <%- include('../partials/menu'); %>
</menu>
<main>
    <section id="profiel">
        <section id="userData">
            <div>
                <img alt="user profile picture" src="/uploads/<%= user.avatar %>">
            </div>
            <div>
                <p>
                voornaam = <%= user.voornaam %><br>
                email = <%= user.email %><br>
                avatar = <%= user.avatar %><br>
                id = <%= user.id %><br>
                games = <%= user.games %><br>
                </p>
            </div>
        </section>
        <section id="">
            
        </section>
        <section id="">
            
        </section>
    </section>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/darkLight.js"></script>
</body>
</html>